* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #22222f;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.btns {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bottom-btn {
    width: 100%;
    height: 25vh;
    display: flex;
    bottom: 0;
    position: fixed;
    overflow: hidden;
}

.left-btn,
.right-btn {
    width: 50%;
    background-color: #1d1d27;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-btn svg,
.left-btn svg {
    width: 20%;
}

.top-arr svg,
.bottom-arr svg {
    width: 14%;
}

.top-arr,
.bottom-arr {
    margin: 40px;
}

.left-arr svg,
.right-arr svg {
    width: 18%;
}

.center svg {
    width: 80%;
}

.center-ok {
    display: flex;
}

.top-arr,
.bottom-arr,
.center,
.left-arr,
.right-arr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-btn {
    overflow: hidden;
    width: 100%;
    height: 75vh;
}

.top-arr svg path,
.bottom-arr svg path,
.center svg path,
.left-arr svg path,
.right-arr svg path {
    fill: #fff;
}